
server:
  port: 8081
  servlet:
    session:
      store-dir: ./sessions

spring:
  application:
    name: Movie-service

  datasource:
    url: jdbc:postgresql://localhost:5432/mydb
    username: safaa
    password: secret
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  data:
    redis:
      host: localhost
      port: 6379

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
